{% extends "sqladmin/base.html" %}
{% from 'sqladmin/_macros.html' import display_menu %}
{% block body %}
<div class="wrapper admin-shell">
  <aside class="navbar navbar-expand-lg navbar-vertical navbar-expand-md navbar-dark admin-sidebar" data-bs-theme="dark">
    <div class="container-fluid">
      <h1 class="navbar-brand navbar-brand-autodark admin-brand">
        <a href="{{ url_for('admin:index') }}">
          {% if admin.logo_url %}
          <img src="{{ admin.logo_url }}" width="{{ admin.logo_width }}" height="{{ admin.logo_height }}" alt="{{ admin.title }}" class="navbar-brand-logo" />
          {% else %}
          <span class="admin-brand-mark">SB</span>
          <span class="admin-brand-text">{{ admin.title }}</span>
          {% endif %}
        </a>
      </h1>
      <nav class="navbar navbar-expand-sm shadow-none admin-nav" id="navbar-menu">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Відкрити меню">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {{ display_menu(admin._menu, request) }}
        </div>
      </nav>
      <button class="btn admin-theme-toggle m-2 px-3" type="button" data-theme-toggle aria-label="Змінити тему">
        <i class="fa-solid fa-sun theme-icon-light"></i>
        <i class="fa-solid fa-moon theme-icon-dark"></i>
        <span data-theme-label>Світла тема</span>
      </button>
      {% if admin.authentication_backend %}
      <a href="{{ request.url_for('admin:logout') }}" class="btn admin-logout m-2 px-3">
        <span class="me-2">Вийти</span>
        <i class="fa fa-sign-out"></i>
      </a>
      {% endif %}
    </div>
  </aside>
  <div class="page-wrapper admin-page">
    <div class="container-fluid">
      <div class="page-header d-print-none admin-header">
        {% block content_header %}
        <div class="row align-items-center">
          <div class="col">
            <div class="page-pretitle">{{ subtitle }}</div>
            <h2 class="page-title">{{ title }}</h2>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
    <div class="page-body flex-grow-1">
      <div class="container-fluid">
        <div class="row row-deck row-cards">
          {% block content %} {% endblock %}
          {% block flash %}
          {% include 'sqladmin/flash.html' %}
          {% endblock %}
          {% block secret_modal %}
          {% include 'sqladmin/secret_modal.html' %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
